body {
  background-color: #fff5d7;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
}
.navBar {
  list-style-type: none;
  text-align: center;
  position: sticky;
  li {
    display: inline;
    padding: 0px 20px 0px;
  }
  li a {
    color: black;
    text-decoration: none;
  }
}


#intro {
  margin-top: 0;
}
.intro {
  font-size: 3em;
  text-align: center;
  p {
    font-size: 0.6em;
    text-align: left;
  }
  .meImage {
    float: left;
    margin: -50px 50px 0px 50px;
  }
}

.buffer {
  height: 150px;
}

.contact {
  text-align: center;
}

.name {
  font-size: 5em;
  text-align: center;;
}