body {
  background-color: #fff5d7;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
}
.navBar {
  list-style-type: none;
  text-align: center;
  position: sticky;
  li {
    display: inline;
    padding: 0px 20px 0px;
  }
  li a {
    color: black;
    text-decoration: none;
  }
}


#intro {
  margin-top: 0;
}
.intro {
  font-size: 3em;
  text-align: center;
  p {
    font-size: 0.6em;
    text-align: center;
  }
  img {
    max-width: 30%;
    height: auto;
    // float: left;
    // margin-left: 100px;
    // margin-right: 200px;
  }
}

.buffer {
  height: 150px;
}

.contact {
  text-align: center;
}

.name {
  font-size: 5em;
  text-align: center;;
}

.container {
  margin: auto;
  width: 100%;
  // padding: 10px;
}